.sidebar-container{
        height: 100%;
}

.ant-drawer-wrapper-body {
        height: 100%;
        .ant-drawer-body{
                padding: 0px !important;
                height: 100%;
        }
}

